In [6]:
import pandas as pd
import numpy as np

In [7]:
url_dataset = "./data/buddymove_holidayiq.csv"
data = pd.read_csv(url_dataset)
data

     Unnamed: 0  Sports  Religious  Nature  Theatre  Shopping  Picnic
0             1       2         77      79       69        68      95
1             2       2         62      76       76        69      68
2             3       2         50      97       87        50      75
3             4       2         68      77       95        76      61
4             5       2         98      54       59        95      86
..          ...     ...        ...     ...      ...       ...     ...
244         245      18        139     148      129       129     168
245         246      22        114     228      104        84     168
246         247      20        124     178      104       158     174
247         248      20        133     149      139       144     213
248         249      20        143     149      139       159     143

[249 rows x 7 columns]

In [8]:
# Vector kì vọng
mean_data = data.describe().mean()
mean_data

Unnamed: 0    133.878038
Sports         41.325557
Religious     120.529154
Nature        143.769681
Theatre       126.688776
Shopping      125.900180
Picnic        129.379368
dtype: float64

In [9]:
# convert data to np.array
data = data.to_numpy()

In [11]:
for i in range(len(data)):
    for j in range(len(data))

array([[  1,   2,  77, ...,  69,  68,  95],
       [  2,   2,  62, ...,  76,  69,  68],
       [  3,   2,  50, ...,  87,  50,  75],
       ...,
       [247,  20, 124, ..., 104, 158, 174],
       [248,  20, 133, ..., 139, 144, 213],
       [249,  20, 143, ..., 139, 159, 143]], dtype=int64)